<!DOCTYPE html> 
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
      #bannerimage{
        object-fit:cover;
        max-height:320px;
        width: 100% ;
      }
      
    </style>
    <title>Samiksha's Jobs Wesbite</title>
    
  </head>
  <body>
    <div class = "container"> 
    <h1 class = "text-center mt-2 mb-4"> Samiksha's Jobs </h1>
    <img id= "bannerimage" class ="img-fluid" src = "static/banner.jpeg" height = "320">
    <h2 class = "text-center mt-5 mb-4">About Samiksha</h2>
    <p class ="lead">
      
      Samiksha's Jobs is a cutting-edge technology company dedicated to revolutionizing the digital landscape. We specialize in developing innovative solutions that empower businesses to thrive in the fast-paced and ever-evolving world of technology.

Our passionate team of tech enthusiasts and industry experts is committed to delivering high-quality products and services that drive digital transformation. By combining our deep expertise with the latest advancements in artificial intelligence, machine learning, cloud computing, and data analytics, we empower our clients to achieve their business objectives efficiently and effectively.
    </p>
    <h2 class = "text-center mt-2 mb-4">Open Positions</h2>
    <p>Show the job openings here</p>
      <div class ="text-center">
    <button type="button" class="btn btn-success">Contact Us</button>
      </div>
  </div>
       
  </body>
</html>
